<h1>Employees#index</h1>
<head>
<style>
    
    body{
      text-align:left;  
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align:left; 
    }
  </style>
</head>
<% if flash[:notice] %> 
    <% flash.each do |name,msg| %>
      <p style="color:green;"><%= msg %></p>
    <% end %>
  <% end %>
<table >
<thead><th>Name</th><th>Email</th><th>Show</th></thead>

<% @employees.each do |employee| %>
    <tr>
        <td><%= employee.first_name%> <%= employee.last_name%></td>
        <td><%= employee.email %></td>
        <td><%= button_to "Show", employee_path(employee) , method: :get%></td>

    </tr>
<%end%>
</table>
<br>
<%= form_tag employees_path, :method => 'get', class: 'A'  do %>
  <%= text_field_tag :search, params[:search],placeholder: 'Search email ' %>
    <span class="A">
      <%= submit_tag "search"%>
    </span>
<% end %>

<br><br>
<%= button_to "Add a New Employee",  new_employee_path , method: :get%>
<%= button_to "view Employee details", employees_viewemployeedetails_path, method: :get %>
