<h1>New Employee Form</h1><% if flash[:errors]%>
<% flash[:errors].each do |error|%>
    <p style="color: red"><%= error%></p>
<%end%>
<%end%>
<%= form_with(model: @employee, local: true) do |f|%>
<%= f.hidden_field :lock_version%>
<%= f.label :first_name %>
<%= f.text_field :first_name%>
<%= f.label :last_name %>
<%= f.text_field :last_name%>
<%= f.label :email%>
<%= f.text_field :email%>
<%= f.label :age%>
<%= f.number_field :age%>
<%= f.label :no_of_order%>
<%= f.number_field :no_of_order%>
<%= f.label :full_time_available%>
<%= f.check_box("full_time_available", :checked => false) %>
<%= f.label :salary%>
<%= f.number_field :salary%>
<%= f.submit %>
<%end%>
